body{
    margin: 0;
    background-color: #202124;
}

.container{
    margin-top: 200px;
}

img{
    display: block;
    height: 92px;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
}


input{
    display: block;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 40px;
    border: 1px solid #dfe1e5;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons button{
    background-color: #303134;
        border: 1px solid #303134;
        border-radius: 4px;
        color: #e8eaed;
        font-family: arial, sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
}

.btn1{
    margin-right: 10px;
}

input:placeholder-shown{
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}

button:hover{
    cursor: pointer;
    border: #303134;
}